html{
    background: url('../img/background_home.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}

main{
    margin-left: 20px;
}

h1{
    font-size: 30px;
    font-weight: 700;
    color:white;
    margin-left: 20px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 700;

}
.filter{
    padding-bottom: 20px;
}

#fotos{
    margin-left: 20px;
    margin-top: 20px;
}


.album{

    background-color: white;
    width: 100px;
    height: 130px;
}
.album img{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
}
.album a{
    text-decoration: none;
}

.album p{
    font-size: 10px;
    margin-left: 5px;
    color:#C7133A;
    font-weight: 700;
}

.album .aantal{
    font-weight: 400;
}

.post{
    width: 300px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    font-size: 13px;
}
.post_date{
    color: #9a9a9a;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    letter-spacing: 1px;
}

.post p{
    margin-left: 20px;
}

