html{
    background: url('../img/background_home.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}

main{
    margin-left: 20px;
}

h1{
    font-size: 30px;
    font-weight: 700;
    color:white;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;

}

h1 span{
    font-weight: 600;
    font-size: 21px;

}

main p{
    color:white;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}

.hashtag{
    margin-left: 0px;
    margin-right: auto;
    width: 280px;
    height: 100%;
}

.hashtag p{
    color: #C7133A;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    border: 1.5px solid #C7133A;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;

}

.logout{
    color: #C7133A;
    font-size: 14px;
    font-weight: 700;

}
