html{
    background-color: #F6D180;
}

.topheader a{
    text-decoration: none;
    display: block;
    width: 40px;
    margin-left: 10px;

}
.topheader h1{
    color:white;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

form{
    margin-top: 40px;
    display: table;
    width: 250px;
}

fieldset{
    border:none;
}

#login label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #850D27;
    letter-spacing:1px;
    font-weight: 700;
}

label span{
    font-size: 10px;
}

input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #850D27;
    width: 250px;
    margin: 15px 0px;
    font-size: 16px;
    padding-bottom: 15px;
    font-weight: 400;
    color: white;
}
.stayLoggedin {
    text-decoration: none;
    font-size: 13px;
    color: #850D27;
    font-weight: 700;
    text-transform: capitalize;
}

.forgetPassword{
    text-decoration: none;
    font-size: 13px;
    color: #850D27;
    font-weight: 600;

}

.stayloggin label{
    text-decoration: none;
    font-size: 13px;
    color: #850D27;
    font-weight: 600;
}

.noAccount{
    font-size: 13px;
    text-align: center;
    color: #de1641;
    font-weight: 700;
}

.noAccount a{
    color: black;
}



.button{
    background-color: #de1641;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 300px;
    border-radius: 30px;
}