html{
    background: url('../img/background_home.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}

main{
    margin-left: 20px;
}

h1{
    font-size: 30px;
    font-weight: 600;
    color:white;
    margin-left: 20px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    letter-spacing: 1.5px;


}
.filter{
    padding-bottom: 20px;
    padding-top: 20px;
}

#fotos{
    margin-left: 20px;
    margin-top: 20px;
}

#post_list{
    padding-top: 10px;
}
.post{
    width: 280px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    font-size: 13px;
    padding: 5px;

}
.post_left{
    font-weight: 600;
    margin-bottom: 5px;
}


.post_date{
    color: #9a9a9a;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    letter-spacing: 1px;
}

.post p{
    margin-left: 20px;
}

.album_gallery {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;

}

.album_item {
    display: inline-block;
    padding: 0.5em 0.5em;
    margin:0em 0.5em 1em;
    width: 140px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.album_item img{
    width: 140px;

}

.overlay{
    background-color:white;
    display: block;
    width: 100%;
    font-size: 10px;
    color:#C7133A;
    font-weight: 700;
    padding: 5px 8px;
}

.overlay p{
    text-align: left;
    font-size: 12px;
}

.overlay p span{
    font-weight: 400;
}

#post_list {
    padding-bottom: 20px;
}

