.album_gallery {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}

.album_item {
    display: inline-block;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 150px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.album_item img{
    width: 250px;

}

.post{
    width: 280px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    font-size: 13px;
    padding: 5px;

}
.post_left{
    font-weight: 600;
    margin-bottom: 5px;
}


.post_date{
    color: #9a9a9a;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    letter-spacing: 1px;
}

.post p{
    margin-left: 20px;
}


.meter img{
    width: 350px;
    margin-left: 20px;

}

.meter{
    float:left;
    width: 50%;
}

.foto img{
    width: 350px;


}

.floatRight{
    float:right;
    width: 50%;
}

.floatRight a{
    background-color: #C7133A;
    color:white;
    font-size: 14px;
    letter-spacing: 1px;
    width: 120px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.tekst{
    margin-top: 40px;
}













@media only screen and (min-width: 700px) {
    .album_gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        margin: 1.5em 1em;
        margin-right: 80px;
        padding: 0;
        -moz-column-gap: 2em;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }


}

@media only screen and (min-width: 900px) {
    .album_gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
        margin: 1.5em 1em;
        margin-right: 80px;
        padding: 0;
        -moz-column-gap: 2em;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }


}

@media only screen and (min-width: 1100px) {
    .album_gallery {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;

        margin: 1.5em 1em;
        margin-right: 40px;
        padding: 0;
        -moz-column-gap: 2em;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }
}